<% if object && object.errors.any? %>
  <div class = "block_for_errors">
    <%= "#{t(:errors)}: #{object.errors.count}" %>
    <ul>
      <% object.errors.full_messages.each do |error| %>
        <li><%= error %>
      <% end %>
    </ul>
  </div>
<% end %>

