<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= t(:new_password_part_1) %></h1>
    <p>
      <%= t(:new_password_part_2) %>
      <%= @password %>
    </p>
  </body>
</html>
