
@font-face {
    font-family: 'forum';
    src: font-url('forum/forum-regular.eot');
    src: font-url('forum/forum-regular.eot?#iefix') format('embedded-opentype'),
         font-url('forum/forum-regular.woff') format('woff'),
         font-url('forum/forum-regular.ttf') format('truetype');
}
